<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-label >Correo Electronico</ion-label><ion-input [(ngModel)]="Usuario"></ion-input>
  <br/>
  <ion-button (click)="Recover()">Enviar</ion-button>
  <img src="https://img.freepik.com/vector-gratis/paisaje-bosque-verano-arboles-arbustos-hierba_107791-18414.jpg?w=900&t=st=1678997223~exp=1678997823~hmac=61c4ee9345bbe991d0fc93859a65aab6de82c8782d55edd3a529c78c9086817d">
</ion-content>
