img {
    display: block;
    margin: 10 auto;
    width: auto;
    height: 200px;
    padding: auto;
    max-width: 100%; /* para asegurarse de que la imagen no sea más ancha que el contenedor */
    position: absolute;
    top:50%;
}

