<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="container">
  <img src="https://scontent.fpbc1-1.fna.fbcdn.net/v/t39.30808-6/327656941_546474714096620_1744307492829877551_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeF0cMH4kvbwpJd6pVW03gVT2WLX3wbIrnPZYtffBsiuc-m2WsanJhxJWL0AvgI9oRiWKy87G3jQfqGjJNX6ak5x&_nc_ohc=NzHK6Mm0bZ4AX-G21Xx&_nc_ht=scontent.fpbc1-1.fna&oh=00_AfB9uD5jlEwLwZ1zbTqKuK_IntnPJJFL_sgRI40ipF56VQ&oe=6417258C" alt="Imagen de encabezado">
  <ion-label>Correo Electronico</ion-label><ion-input [(ngModel)]="Usuario"></ion-input>
  <br/>
  <ion-label>Contraseña</ion-label><ion-input [(ngModel)]="Clave"type="password"></ion-input>
  <ion-button (click)="Login()">Ingresar</ion-button>
  <br/>
  <ion-button color="medium" (click)="Register()">Registrarme</ion-button>
  <br/>
  <button ion-button color="danger" (click)="Password()" outline>Olvide mi Contraseña</button>
</ion-content>

