<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="container">
  <img src="https://lh3.googleusercontent.com/M4gHu70KC6TWADmaQBGi1Yl4vqod3EjaQRYXm4lpG2a0kvAAPPfv9j1CSqO7JgyIMGxKFkmur3O1qAFAAKHqXcd92gB_2XN6VPq2EyFF" alt="Imagen de encabezado">
  <ion-label>Correo Electronico</ion-label><ion-input [(ngModel)]="Usuario"></ion-input>
  <br/>
  <ion-label>Contraseña</ion-label><ion-input [(ngModel)]="Clave"type="password"></ion-input>
  <ion-button (click)="Login()">Ingresar</ion-button>
  <br/>
  <ion-button color="medium" (click)="Register()">Registrarme</ion-button>
  <br/>
  <button ion-button color="danger" (click)="Password()" outline>Olvide mi Contraseña</button>
</ion-content>

