<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div class="header-image"></div> <!-- Agregamos una div con la clase "header-image" para la imagen -->
  <ion-content padding>
    <img src="https://scontent.fpbc1-1.fna.fbcdn.net/v/t39.30808-6/327656941_546474714096620_1744307492829877551_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHmap-_-MFvFt-ehqOasbSe2WLX3wbIrnPZYtffBsiuc10FxOuv5VpHuFjZxIg8amwh_IyXAQpqiZX7aHHEDgZb&_nc_ohc=GoL-Ls-z9U0AX-shxpv&_nc_ht=scontent.fpbc1-1.fna&oh=00_AfDNXEGSEqKO4yDkzkf-UP2S7J5UsAAD9S1cZOlp8MI65w&oe=642108CC" alt="Imagen de encabezado">
    <ion-label>Correo Electronico</ion-label>
    <ion-input [(ngModel)]="Usuario"></ion-input>
    <br/>
    <ion-label>Contraseña</ion-label>
    <ion-input [(ngModel)]="Clave" type="password"></ion-input>
    <br/>
    <ion-label>Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="cclave" type="password"></ion-input>
    <ion-button color="medium" (click)="Cancel()">Cancelar</ion-button>
    <ion-button (click)="Register()">Registrarse</ion-button>
  </ion-content>
</div>