<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div class="header-image"></div> <!-- Agregamos una div con la clase "header-image" para la imagen -->
  <ion-content padding>
    <img src="https://lh3.googleusercontent.com/M4gHu70KC6TWADmaQBGi1Yl4vqod3EjaQRYXm4lpG2a0kvAAPPfv9j1CSqO7JgyIMGxKFkmur3O1qAFAAKHqXcd92gB_2XN6VPq2EyFF" alt="Imagen de encabezado">
    <ion-button color="medium" (click)="Cancel()">Cancelar</ion-button>
    <ion-button (click)="authentication()">Cerrar</ion-button>
  </ion-content>
</div>
